.dropdown-item {
    font-size: 14px;
    position: relative;
    z-index: 10000;
}

/*.navbar {*/
    /*background-color: #1964a8 !important;*/
/*}*/

.logo {
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 75px;
    margin-right: 10px;
}